{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.layerware/hugsql {:mvn/version "0.5.1"}
        com.layerware/hugsql-adapter-next-jdbc {:mvn/version "0.5.1"}
        seancorfield/next.jdbc {:mvn/version "1.1.610"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
        com.github.vertical-blank/sql-formatter {:mvn/version "1.0.3"}
        metosin/jsonista {:mvn/version "0.2.7"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}
                      metosin/testit {:mvn/version "0.4.0"}
                      lambdaisland/kaocha {:mvn/version "1.0.700"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "f7ef16dc3b8332b0d77bc0274578ad5270fbfedd"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :jar {:extra-deps {seancorfield/depstar {:mvn/version "0.5.1"}}
        :main-opts ["-m" "hf.depstar.jar" "penkala.jar"]}}}
